@font-face {
    font-family: Inter-Bold;
    src: url("../fonts/Inter-Bold.ttf");
}

.cart {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-container {
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    margin: 50px 0 50px 0;
    padding: 30px 0 30px 0;
}

.header {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.heading {
    font-size: 20px;
    font-family: Inter-Bold;
    color: #2F3841;
}

.action {
    font-size: 14px;
    font-family: Inter-Bold;
    color: #8567FF;
    cursor: pointer;
    border-bottom: 1px solid #8567FF;
}

.cart-items {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image-box {
    width: 15%;
    text-align: center;
}

.image-box img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.about {
    height: 100%;
}

.title {
    padding-top: 5px;
    line-height: 10px;
    font-size: 28px;
    font-family: Inter-Bold;
    color: #202020;
}

.subtitle {
    line-height: 10px;
    font-size: 18px;
    font-family: Inter-Bold;
    color: #909090;
    margin-top: 20px;
}

.counter {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter .btn-minus,
.counter .btn-plus {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Inter-Bold;
    color: #202020;
    cursor: pointer;
}

.count {
    font-size: 20px;
    font-family: Inter-Bold;
    color: #202020;
}

.prices {
    height: 100%;
    text-align: right;
}

.amount {
    padding-top: 20px;
    font-size: 26px;
    font-family: Inter-Bold;
    color: #202020;
}

.remove {
    padding-top: 5px;
    font-size: 14px;
    font-family: Inter-Bold;
    color: #8567FF;
    cursor: pointer;
}

.vertical-line {
    width: 66%;
    float: right;
    margin-right: 5%;
    border-top: 2.5px solid rgb(190, 190, 190);
    margin-bottom: 10px;
}

.checkout {
    float: right;
    margin-right: 5%;
    width: 28%;
}

.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Subtotal {
    font-size: 22px;
    font-family: Inter-Bold;
    color: #202020;
}

.items {
    font-size: 16px;
    font-family: Inter-Bold;
    color: #909090;
    line-height: 10px;
}

.total-amount {
    font-size: 36px;
    font-family: Inter-Bold;
    color: #202020;
}

.button {
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #8567FF;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: Inter-Bold;
    color: white;
}

@media only screen and (max-width: 837px) {
    .image-box {
        width: 60%;
    }
    .about {
        margin-left: 10px;
    }
    .about .title {
        line-height: 30px;
        font-size: 22px;
    }
    .about .subtitle {
        margin-top: 10px;
    }
    .counter {
        margin-right: 30px;
    }
    .counter .btn-minus {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        font-size: 16px;
    }
    .counter .btn-plus {
        margin-left: 10px;
        width: 20px;
        height: 20px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 580px) {
    .cart-items {
        flex-direction: column;
    }
    .image-box {
        width: 100%;
    }
    .image-box img {
        height: 200px !important;
    }
    .about .title {
        margin-top: 10px;
    }
    .counter {
        width: 25%;
        margin-left: 10px;
    }
    .counter .btn-minus,
    .counter .btn-plus {
        width: 60px;
        height: 25px;
        font-size: 18px;
    }
    .prices {
        text-align: start;
        margin-left: 10px;
    }
    .checkout {
        width: 50%;
    }
    .button {
        margin-top: 10px;
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}