@font-face {
    font-family: Inter-Bold;
    src: url("../fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: Inter-Medium;
    src: url("../fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: BerkshireSwash;
    src: url("../fonts/BerkshireSwash-Regular.ttf");
}

body {
    font-family: Inter-Medium;
}

.landingContainer {
    position: relative;
    padding: 1%;
}

.landingImageContainer {
    position: relative;
    width: 100%;
    height: auto;
}

.landingImageContainer .centered {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 10%;
}

.landingImageContainer h1 {
    color: white;
}

.landingImageContainer .centeredAlone {
    text-align: center;
}

.landingImage {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.landingPageDownContainer {
    width: 100%;
    text-align: center;
    margin-top: -10%;
    margin-bottom: 4%;
}

.landingPageDownImage {
    font-size: 10vh;
    color: rgb(184, 184, 184);
}

.landingPopularTitle {
    font-family: BerkshireSwash;
    letter-spacing: -1px;
    color: #484848;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}

.titlehr {
    width: 50%;
}

.landingPopularContainer {
    width: fit-content;
}

.landingPopularItemImage {
    min-height: 200px;
    min-width: 200px;
}

.landingPopularItemImage img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.landingPopularItemTitle {
    width: 100%;
}

.landingPopularItemTitle .title {
    font-size: 20px;
    color: gray;
    margin: 0;
}

.landingPopularItemTitle .sale {
    color: #ffd814;
}

.landingPopularItemTitle .sale del {
    color: black;
}

.landingPopularItemTitle .price {
    font-weight: bold;
    margin: 0;
}

.showMoreDiv {
    text-align: end;
}

.landingPopularSubTitle {
    font-family: BerkshireSwash;
    letter-spacing: -1px;
    color: #484848;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}

#newDropsCarousel {
    width: 100%;
}

.carousel,
.carousel-inner,
.carousel-item {
    border-radius: 10px;
}

.carousel-item img {
    border-radius: 10px;
}

.newDropItemTitle {
    text-align: center;
}

.newDropItemTitle h1 {
    font-size: 28px;
}

.newDropItemTitle hr {
    width: 7%;
    background-color: black;
}

.custom-btn {
    background: #eee;
    color: #5b5b5b;
    font-weight: bold;
    border-radius: 5px;
    padding: 13px 29px;
    font-size: 14px;
    line-height: normal;
    overflow: hidden;
    transition: all 0.4s ease;
}

.custom-btn:hover {
    color: #ffc200;
}

.custom-btn.custom-btn-bg {
    background: #474559;
    color: #ffffff;
}

.custom-btn.custom-btn-bg:hover {
    background: #ffc200;
    color: #ffffff !important;
}

.animated {
    position: relative;
}

@media only screen and (max-width: 850px) {
    .animated {
        position: relative;
        text-align: center;
    }
}

.animated-info {
    display: inline-block;
    vertical-align: top;
    min-width: 260px;
    position: relative;
}

.animated-item {
    color: #ffc200;
}

.animated-item {
    font-size: 38px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
}

.animated-item:nth-child(2n+2) {
    animation-delay: 2s;
}

.animated-item:nth-child(3n+3) {
    animation-delay: 4s;
}

@keyframes BottomTotop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(5px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(5px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}